body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
}

.buttons {
    white-space: nowrap;
}

/* !BUTTON */
.btn {
    padding: 10px 15px;
     margin: 0.5em;
     background: black;
     color: white;
     border: none;
     border-radius: 0.625em;
     cursor: pointer;
     position: relative;
     z-index: 1;
     box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
     0 4px 8px 3px rgba(60, 64, 67, 0.149);
    }
    
    button:hover {
     color: black;
    }
    
    button:after {
     content: "";
     background: white;
     position: absolute;
     z-index: -1;
     left: -20%;
     right: -20%;
     top: 0;
     bottom: 0;
     transform: skewX(-45deg) scale(0, 1);
     transition: all 0.5s;
    }
    
    button:hover:after {
     transform: skewX(-45deg) scale(1, 1);
     -webkit-transition: all 0.5s;
     transition: all 0.5s;
    }

    /* ! MEDIA QUERIES */